/****** This SQL script creates the MMABooks database on SQL Server ******/

IF DB_ID('MMABooks') IS NOT NULL
	DROP DATABASE MMABooks
	
CREATE DATABASE MMABooks
GO

USE [MMABooks]
GO

/****** Create Customers table ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[City] [varchar](20) NOT NULL,
	[State] [char](2) NOT NULL,
	[ZipCode] [char](15) NOT NULL,
	[Rowversion] [rowversion] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Create InvoiceLineItems table ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceLineItems](
	[InvoiceID] [int] NOT NULL,
	[ProductCode] [char](10) NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ItemTotal] [money] NOT NULL,
 CONSTRAINT [PK_InvoiceLineItems] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC,
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Create Invoices table ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[InvoiceDate] [datetime2] NOT NULL,
	[ProductTotal] [money] NOT NULL,
	[SalesTax] [money] NOT NULL,
	[Shipping] [money] NOT NULL,
	[InvoiceTotal] [money] NOT NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Create OrderOptions table ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderOptions](
	[OptionID] [int] IDENTITY(1,1) NOT NULL,
	[SalesTaxRate] [decimal](18, 4) NOT NULL,
	[FirstBookShipCharge] [money] NOT NULL,
	[AdditionalBookShipCharge] [money] NOT NULL,
 CONSTRAINT [PK_OrderOptions] PRIMARY KEY CLUSTERED 
(
	[OptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Create Products table ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductCode] [char](10) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[OnHandQuantity] [int] NOT NULL,
	[Rowversion] [rowversion] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Create States table ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateCode] [char](2) NOT NULL,
	[StateName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[StateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

/****** Customers data ******/
INSERT [dbo].[Customers] ([CustomerID], [Name], [Address], [City], [State], [ZipCode]) VALUES (1, N'Molunguri, A', N'1108 Johanna Bay Drive', N'Birmingham', N'AL', N'35216-6909     ')
INSERT [dbo].[Customers] ([CustomerID], [Name], [Address], [City], [State], [ZipCode]) VALUES (2, N'Muhinyi, Mauda', N'1420 North Charles Street', N'New York', N'NY', N'10044          ')
INSERT [dbo].[Customers] ([CustomerID], [Name], [Address], [City], [State], [ZipCode]) VALUES (3, N'Antony, Abdul', N'1109 Powderhorn Drive', N'Fayetteville', N'NC', N'28314          ')
GO
SET IDENTITY_INSERT [dbo].[Customers] OFF

/****** InvoiceLineItems data ******/
INSERT [dbo].[InvoiceLineItems] ([InvoiceID], [ProductCode], [UnitPrice], [Quantity], [ItemTotal]) VALUES (18, N'JSJQ      ', 57.5000, 1, 57.5000)
INSERT [dbo].[InvoiceLineItems] ([InvoiceID], [ProductCode], [UnitPrice], [Quantity], [ItemTotal]) VALUES (18, N'SQLS      ', 57.5000, 1, 57.5000)
INSERT [dbo].[InvoiceLineItems] ([InvoiceID], [ProductCode], [UnitPrice], [Quantity], [ItemTotal]) VALUES (18, N'VB        ', 57.5000, 1, 57.5000)

/****** Invoices data ******/
SET IDENTITY_INSERT [dbo].[Invoices] ON 
INSERT [dbo].[Invoices] ([InvoiceID], [CustomerID], [InvoiceDate], [ProductTotal], [SalesTax], [Shipping], [InvoiceTotal]) VALUES (18, 20, CAST(N'2022-10-13T00:00:00.000' AS DateTime), 172.5000, 12.9375, 6.2500, 191.6875)
INSERT [dbo].[Invoices] ([InvoiceID], [CustomerID], [InvoiceDate], [ProductTotal], [SalesTax], [Shipping], [InvoiceTotal]) VALUES (23, 694, CAST(N'2022-10-13T00:00:00.000' AS DateTime), 57.5000, 4.3125, 3.7500, 65.5625)
INSERT [dbo].[Invoices] ([InvoiceID], [CustomerID], [InvoiceDate], [ProductTotal], [SalesTax], [Shipping], [InvoiceTotal]) VALUES (26, 35, CAST(N'2022-10-13T00:00:00.000' AS DateTime), 57.5000, 4.3125, 3.7500, 65.5625)
SET IDENTITY_INSERT [dbo].[Invoices] OFF

/****** OrderOptions data ******/
SET IDENTITY_INSERT [dbo].[OrderOptions] ON 
INSERT [dbo].[OrderOptions] ([OptionID], [SalesTaxRate], [FirstBookShipCharge], [AdditionalBookShipCharge]) VALUES (1, CAST(0.0750 AS Decimal(18, 4)), 3.7500, 1.2500)
SET IDENTITY_INSERT [dbo].[OrderOptions] OFF

/****** Products data ******/
INSERT [dbo].[Products] ([ProductCode], [Description], [UnitPrice], [OnHandQuantity]) VALUES (N'JS        ', N'Murach''s JavaScript', 54.5000, 2136)
INSERT [dbo].[Products] ([ProductCode], [Description], [UnitPrice], [OnHandQuantity]) VALUES (N'JQ        ', N'Murach''s jQuery', 54.5000, 677)
INSERT [dbo].[Products] ([ProductCode], [Description], [UnitPrice], [OnHandQuantity]) VALUES (N'HTML      ', N'Murach''s HTML and CSS', 59.5000, 4637)

/****** States data ******/
INSERT [dbo].[States] ([StateCode], [StateName]) VALUES (N'AK', N'Alaska')
INSERT [dbo].[States] ([StateCode], [StateName]) VALUES (N'AL', N'Alabama')
INSERT [dbo].[States] ([StateCode], [StateName]) VALUES (N'AR', N'Arkansas')

/****** Constraints for tables ******/
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_OnHandQuantity]  DEFAULT ((0)) FOR [OnHandQuantity]
GO

ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_States] FOREIGN KEY([State])
REFERENCES [dbo].[States] ([StateCode])
GO

ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_States]
GO

ALTER TABLE [dbo].[InvoiceLineItems]  WITH NOCHECK ADD  CONSTRAINT [FK_InvoiceLineItems_Invoices] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[InvoiceLineItems] CHECK CONSTRAINT [FK_InvoiceLineItems_Invoices]
GO

ALTER TABLE [dbo].[InvoiceLineItems]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceLineItems_Products] FOREIGN KEY([ProductCode])
REFERENCES [dbo].[Products] ([ProductCode])
GO

ALTER TABLE [dbo].[InvoiceLineItems] CHECK CONSTRAINT [FK_InvoiceLineItems_Products]
GO

ALTER TABLE [dbo].[Invoices]  WITH NOCHECK ADD  CONSTRAINT [FK_Invoices_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Customers]
GO

GRANT VIEW DEFINITION TO PUBLIC